.btn {
    margin-top: 4px;
    margin-bottom: 39px;
    padding-top: 21px;
    padding-bottom: 17px;
    padding-left: 8px;
    font-size: 16px;
    width: 100%;
    border: none;
    border-radius: 8px;
    color: white;
    letter-spacing: 0.008em;
    background-color: hsl(234, 29%, 20%);
    cursor: pointer;
}

.btn:hover {
    background: linear-gradient(90deg, rgba(251,86,128,1) 15%, rgba(255,108,56,1) 100%);
    box-shadow: -1px 10px 25px -7px rgb(255, 73, 56);
}